In [ ]:
import pandas as pd
import numpy as np
import io
from scipy import stats
from google.colab import files
uploaded = files.upload()

Saving kaggle_ufo_sightings.csv to kaggle_ufo_sightings (1).csv

In [ ]:
ufo_sightings = pd.read_csv(io.BytesIO(uploaded['kaggle_ufo_sightings.csv']))
ufo_sightings_df = ufo_sightings.copy()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
ufo_sightings_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [ ]:
ufo_sightings_df = ufo_sightings_df.dropna()
#ufo_sightings_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778

In [ ]:
ufo_sightings_df['country'].value_counts()

us    63553
ca     2942
gb       11
au       10
Name: country, dtype: int64

In [ ]:
ufo_sightings_df = ufo_sightings_df.loc[ufo_sightings_df['country']=='us']
#ufo_sightings_df

In [ ]:
ufo_sightings_df['date'] = ufo_sightings_df['datetime'].str[:-6]
ufo_sightings_df['date'] = ufo_sightings_df['date'].str[-4:]
ufo_sightings_df['time'] = ufo_sightings_df['datetime'].str[-5:]

NameError: ignored

In [ ]:
#ufo_sightings_df

In [ ]:
ufo_sightings_df = ufo_sightings_df.sort_values('date', axis=0)
ufo_sightings_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time
46858,6/1/1910 15:00,wills point,tx,us,cigar,120,2 minutes,Cigar shaped object moving from West to East,4/16/2005,32.7091667,-96.008056,1910,15:00
10580,1/1/1910 24:00,kirksville (near),mo,us,disk,120,minutes,Historical sighting (1903 - 1913) Northern Mis...,9/15/2005,40.1947222,-92.583056,1910,24:00
46694,6/11/1920 21:00,cicero,in,us,unknown,60,1 minute,((NUFORC Note: Probable hoax. Note date. PD...,5/12/2009,40.1238889,-86.013333,1920,21:00
20951,12/28/1925 18:00,atkinson (6 miles north of),il,us,disk,60,1 minute,Young boy witnesses disc in sky above Illinois...,5/11/2005,41.4208333,-90.015000,1925,18:00
62760,7/5/1929 14:00,buchanan (or burns),or,us,disk,60,1min,we were traveling east of burns&#44clmbing up ...,8/16/2002,43.6425000,-118.627500,1929,14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34624,3/4/1999 20:45,greer,az,us,light,600,10 min.,Driving home one night&#44 I looked up and saw...,4/2/1999,34.0100000,-109.458056,1999,20:45
34625,3/4/1999 20:45,phoenix,az,us,other,300,five minutes,We saw a very bright light that looked like a ...,4/2/1999,33.4483333,-112.073333,1999,20:45
34611,3/4/1999 07:15,fresno,ca,us,cigar,300,4 to 5 minutes,Looked up into night sky and saw a light that ...,4/2/1999,36.7477778,-119.771389,1999,07:15
34620,3/4/1999 19:00,lancaster,ca,us,other,480,8 minutes,Picture perfect white&#44 &quot;comet-like&quo...,4/2/1999,34.6980556,-118.135833,1999,19:00
65286,8/12/1999 10:00,flagstaff,az,us,light,480,8 minutes,We were drivin along then bam&#33 orange light...,3/7/2000,35.1980556,-111.650556,1999,10:00

In [ ]:
ufo_sightings_df = ufo_sightings_df.loc[ufo_sightings_df['date'].str[0]=='1']
#ufo_sightings_df

In [ ]:
shapes = ufo_sightings_df['shape'].unique()
print(shapes)

['cigar' 'disk' 'unknown' 'oval' 'light' 'cylinder' 'fireball' 'sphere'
 'rectangle' 'formation' 'flash' 'circle' 'other' 'chevron' 'triangle'
 'cone' 'diamond' 'egg' 'teardrop' 'changing' 'cross' 'delta' 'round'
 'changed' 'pyramid' 'hexagon' 'crescent' 'flare']

In [ ]:
ufo_sightings_df['shape'].value_counts()

light        1785
disk         1564
triangle     1333
other         953
circle        901
sphere        776
unknown       706
fireball      687
oval          594
cigar         451
formation     298
rectangle     216
changing      201
cylinder      197
chevron       178
diamond       154
egg           120
flash         120
teardrop       74
cone           37
cross          23
delta           6
round           2
changed         1
pyramid         1
hexagon         1
crescent        1
flare           1
Name: shape, dtype: int64

In [ ]:
shapes_incl = ['triangle', 'circle', 'disk']
shapess = [shape for shape in shapes if shape not in shapes_incl]
print(shapess)

['cigar', 'unknown', 'oval', 'light', 'cylinder', 'fireball', 'sphere', 'rectangle', 'formation', 'flash', 'other', 'chevron', 'cone', 'diamond', 'egg', 'teardrop', 'changing', 'cross', 'delta', 'round', 'changed', 'pyramid', 'hexagon', 'crescent', 'flare']

In [ ]:
temp_df = ufo_sightings_df

for shape in shapess:
  temp_df = temp_df.loc[temp_df['shape']!= shape]

In [ ]:
temp_df

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,date,time
10580,1/1/1910 24:00,kirksville (near),mo,us,disk,120,minutes,Historical sighting (1903 - 1913) Northern Mis...,9/15/2005,40.1947222,-92.583056,1910,24:00
20951,12/28/1925 18:00,atkinson (6 miles north of),il,us,disk,60,1 minute,Young boy witnesses disc in sky above Illinois...,5/11/2005,41.4208333,-90.015000,1925,18:00
62760,7/5/1929 14:00,buchanan (or burns),or,us,disk,60,1min,we were traveling east of burns&#44clmbing up ...,8/16/2002,43.6425000,-118.627500,1929,14:00
46860,6/1/1931 13:00,abilene,ks,us,disk,1800,30 min. approx.,This is a what my mother related to me regardi...,2/14/2006,38.9172222,-97.213611,1931,13:00
74514,9/15/1934 15:30,valley city (6.5 miles east of),nd,us,disk,5.0,5 seconds,Two brothers observe&#44 hear&#44 three black ...,6/12/2008,46.923333,-98.002778,1934,15:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34628,3/4/1999 21:35,morgantown,wv,us,triangle,1200,20min,I saw a triangle shape in the sky that seemed ...,4/2/1999,39.6294444,-79.956111,1999,21:35
67146,8/17/1999 16:00,las vegas,nv,us,disk,1200.0,20 min.,Two silver disc directly over the city.,8/30/1999,36.175,-115.136389,1999,16:00
67149,8/17/1999 21:00,westfield,nj,us,circle,3.0,three seconds,I was on my hammock with my 19 mos. old son --...,8/30/1999,40.658889,-74.347778,1999,21:00
34612,3/4/1999 12:15,wichita,ks,us,disk,300,5 min,A silver disk seen hovering over Mc Connel AFB,4/2/1999,37.6922222,-97.337222,1999,12:15
34613,3/4/1999 16:00,miami shores,fl,us,disk,420,7:00min,Craft was Disk Shaped with a dome&#44 self ill...,6/23/1999,25.8627778,-80.193056,1999,16:00

In [ ]:
to_drop = ['city', 'duration (hours/min)', 'date posted', 'country']
temp_df = temp_df.drop(columns = to_drop)
temp_df

,datetime,state,shape,duration (seconds),comments,latitude,longitude,date,time
10580,1/1/1910 24:00,mo,disk,120,Historical sighting (1903 - 1913) Northern Mis...,40.1947222,-92.583056,1910,24:00
20951,12/28/1925 18:00,il,disk,60,Young boy witnesses disc in sky above Illinois...,41.4208333,-90.015000,1925,18:00
62760,7/5/1929 14:00,or,disk,60,we were traveling east of burns&#44clmbing up ...,43.6425000,-118.627500,1929,14:00
46860,6/1/1931 13:00,ks,disk,1800,This is a what my mother related to me regardi...,38.9172222,-97.213611,1931,13:00
74514,9/15/1934 15:30,nd,disk,5.0,Two brothers observe&#44 hear&#44 three black ...,46.923333,-98.002778,1934,15:30
...,...,...,...,...,...,...,...,...,...
34628,3/4/1999 21:35,wv,triangle,1200,I saw a triangle shape in the sky that seemed ...,39.6294444,-79.956111,1999,21:35
67146,8/17/1999 16:00,nv,disk,1200.0,Two silver disc directly over the city.,36.175,-115.136389,1999,16:00
67149,8/17/1999 21:00,nj,circle,3.0,I was on my hammock with my 19 mos. old son --...,40.658889,-74.347778,1999,21:00
34612,3/4/1999 12:15,ks,disk,300,A silver disk seen hovering over Mc Connel AFB,37.6922222,-97.337222,1999,12:15
34613,3/4/1999 16:00,fl,disk,420,Craft was Disk Shaped with a dome&#44 self ill...,25.8627778,-80.193056,1999,16:00

In [ ]:
temp_df = temp_df.loc[temp_df['date'].str[2]=='9']
temp_df

,datetime,state,shape,duration (seconds),comments,latitude,longitude,date,time
55304,7/1/1990 22:00,in,triangle,600,Triangular dark shape hovering above closed am...,38.2775000,-85.737222,1990,22:00
62786,7/5/1990 17:00,mi,disk,180,Alien Tests Soil.,41.8852778,-86.589444,1990,17:00
55296,7/1/1990 00:30,ca,triangle,240,Triangle Craft Shaver Lake Ca. Moved very slo...,37.1041667,-119.316667,1990,00:30
13752,11/30/1990 19:00,pa,disk,600,On way to work&#44 parked car and upon exiting...,40.2125000,-78.929167,1990,19:00
2692,10/18/1990 01:00,nc,disk,14400,1000&#39s of neon colored U.F.O.&#39s/Saucers...,35.3338889,-81.865278,1990,01:00
...,...,...,...,...,...,...,...,...,...
34628,3/4/1999 21:35,wv,triangle,1200,I saw a triangle shape in the sky that seemed ...,39.6294444,-79.956111,1999,21:35
67146,8/17/1999 16:00,nv,disk,1200.0,Two silver disc directly over the city.,36.175,-115.136389,1999,16:00
67149,8/17/1999 21:00,nj,circle,3.0,I was on my hammock with my 19 mos. old son --...,40.658889,-74.347778,1999,21:00
34612,3/4/1999 12:15,ks,disk,300,A silver disk seen hovering over Mc Connel AFB,37.6922222,-97.337222,1999,12:15
34613,3/4/1999 16:00,fl,disk,420,Craft was Disk Shaped with a dome&#44 self ill...,25.8627778,-80.193056,1999,16:00

In [ ]:
temp_df = temp_df.loc[temp_df['state']!='ak']

In [ ]:
temp_df = temp_df.loc[temp_df['state']!='hi']

In [ ]:
temp_df.to_csv('ufo.csv')
files.download('ufo.csv')

In [ ]:
#temp_df['latitude']

74658     42.713056
39292    34.1450000
73394     39.158056
73395     36.834722
73396     42.413333
            ...
9873     32.5997222
10145    32.2216667
65285    35.7325000
65292    43.0202778
65284    36.1583333
Name: latitude, Length: 1930, dtype: object